button{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    color:red;
    background-color: blue;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    animation: scaleInB 5s infinite cubic-bezier(.36, .11, .89, .32);
    z-index: 1;
    border: none;
    
    
    

}
button:active{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    color: blue;
    background-color: red;
    position: absolute;
    left: 0;
    right: 0;
    animation: scaleInB 5s infinite cubic-bezier(.36, .11, .89, .32);
}
.glow {
    
    font-size: 45px;
    color: red;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px red, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  
  .circle{
   border-radius: 50%;
    width:300px;
    height:300px;
    background-color:darkblue;
    margin:0 auto;
    animation: scaleIn 5s infinite cubic-bezier(.36, .11, .89, .32);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    
    
    opacity: 10;
}
.progressBar{
  width: 500px;
  height: 50px;
  background-color: purple;
  text-align: center;
  position:absolute;
  z-index: 2;
  top: 1200px;
  left: 470px;
}
.progress{
  
}
    
@keyframes scaleIn {
    from {
      transform: scale(.5, .5);
      opacity: .5;
    }
    to {
      transform: scale(2.5, 2.5);
      opacity: 0;
    }
  }
  @keyframes scaleInB {
    from {
      transform: scale(.5, .5);
      opacity: 0.5;
    }
    to {
      transform: scale(2.5, 2.5);
      opacity: 0;
    }
  }

 
